@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');

* {
  font-family: "Golos Text", sans-serif;
  color: #545454;
}

body {
  background-color: #bcbcbc;
}

.page-heading {
	font-size: 1.6rem;
	font-weight: 500;
}

.page-heading-subtitle {
	color: rgb(16, 152, 225);
	font-size: 0.9rem;
}